@font-face {
    font-family: "Karla";
    src: url("../graphics/fonts/Karla-VariableFont_wght.ttf");
}

html {
    height: 100vh;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: Karla;
}

body {
    min-height: 200vh;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}

header {
    align-items: center;

    &>img {
        margin: 2% 0 1% 3%;
        height: auto;
        width: 20%;
    }
}

h3 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}

#HeroBanner {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>img {
        height: auto;
        margin: 25px;
        border-radius: 1.5vw;
        width: 95%;
        box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.1);
    }

    &>button {
        font-family: Karla;
        font-size: 1vw;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e2e2e2;
        border: none;
        border-radius: 500px;
        width: 15%;
        height: auto;
        aspect-ratio: 1;
        box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.1);
        transform: translateY(-55%);
        transition: all 0.2s ease;
        cursor: pointer;

        &>img {
            height: auto;
            width: 65%;
        }

        &>span {
            transform: translateY(-80%);
        }

        &:hover {
            transform: translateY(-60%);
        }
    }
}

/* ===== POP UP UPLOAD ===== */
#PopUpUpload,
#PopUpSave {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Karla;

    &>div {
        border-radius: 1.5vw;
        position: fixed;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
        max-width: 55vh;
        height: auto;
        aspect-ratio: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &>button[type="close"] {
            position: absolute;
            top: 1%;
            right: 1%;
            width: 5%;
            height: auto;
            aspect-ratio: 1;
            background-color: transparent;
            background-image: url("https://icons.veryicon.com/png/o/miscellaneous/medium-thin-linear-icon/cross-23.png");
            background-size: contain;
            border: none;
        }

        & button[type="submit"],
        button[type="save"] {
            margin-top: 20px;
            border-radius: 10px;
            height: 50px;
            font-weight: bolder;
            width: 100%;
            box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.2);
            background-color: #33cab8;
            border: none;
            color: whitesmoke;
        }

        &>form {
            position: absolute;
            min-width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &>div {
                display: flex;
            }
        }

        &>.form {
            position: absolute;
            min-width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &>div {
                display: flex;
            }
        }
    }

    & select {
        width: 100%;
        box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.2);
        border-radius: 10px;
        height: 50px;
        width: 100%;
        font-size: 0.85em;
        border: none;
        background-color: whitesmoke;
        margin-top: 0.5vw;
    }
}

#PopUpUpload {
    &>div {

        &>h3 {
            font-size: 1.4vw;
        }


        & input[type="text"] {
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Chain_link_icon_slanted.png");
            background-repeat: no-repeat;
            background-color: whitesmoke;
            background-size: 8%;
            background-position: 5% 50%;
            border: none;
            box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.2);
            height: 50px;
            width: 100%;
            border-radius: 10px;
            padding-left: 17%;
        }

        & input[type="file"] {
            box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.2);
            border-radius: 10px;
            height: 50px;
            width: 100%;
            font-size: 0.85em;
            cursor: pointer;

            &::-webkit-file-upload-button {
                cursor: pointer;
                background-color: #33cab8;
                color: whitesmoke;
                border: none;
                font-weight: bolder;
                overflow: hidden;
                height: 100%;
            }
        }
    }


}

.hidden {
    display: none;
}

.line-border {
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 1vw;
    font-weight: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
    opacity: 0.5 !important;
}

.line-border::after,
.line-border::before {
    width: 100%;
    min-width: 100px;
    height: 50%;
    content: " ";
    display: block;
    border-bottom: 2px solid rgba(104, 104, 136, 0.5);
}

/* ===== TABULATOR STYLING ===== */
.tabulator {
    font-family: Karla;
    width: 95%;
    margin: auto;
    background-color: #e2e2e2;
    border-radius: 1.5vw;
    overflow: hidden;
    box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.07);
    color: #30303f;

    &[filters="off"] {
        & .tabulator-headers {
            height: 3vw;
        }

        & .tabulator-header {
            height: 5vw;
        }

        & .tabulator-header-filter {
            display: none;
        }
    }

    &[filters="on"] {
        & .tabulator-headers {
            height: 8vw;
        }

        & .tabulator-header {
            height: 10vw;
        }
    }

    &>* {
        width: 100%;
    }
}

.tabulator-header {
    overflow: hidden;
    background-image: linear-gradient(-45deg,
            rgba(41, 206, 169, 0.28),
            rgba(33, 199, 181, 0.28));
    height: 10vw;
    transition: all 0.2s ease;

    &>.tabulator-headers {

        display: flex;
        font-weight: 600;
        font-size: 0.9vw;
        transition: all 0.2s ease;
        height: 8vw;
        margin: 1vw 0;
        overflow: hidden;

        &>.tabulator-col {

            flex: 1 1 0px;
            padding-left: 0.5%;
            padding-right: 0.5%;


            &>.tabulator-col-content {
                height: 8vw;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &>.tabulator-header-filter {
                    width: 80%;

                    &>input {
                        width: 100%;
                        box-sizing: border-box;
                        padding: 4px;
                        margin: 0;
                        height: 100%;
                        background-color: whitesmoke;
                        border: none;
                        border-radius: 50px;
                        transition: all 0.2s ease;

                        &::placeholder {
                            font-size: 0.7vw;
                        }
                    }
                }

                &>.tabulator-col-title-holder {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    &>.tabulator-col-sorter {
                        height: 23px;
                        width: 1.5vw;
                        flex: 1 0 0;

                        &>.tabulator-arrow,
                        >.tabulator-hideColumn-toggle-button {
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            width: 0.75vw;
                            height: 0.75vw;
                        }


                        &>.tabulator-hideColumn-toggle-button {
                            background-image: url("../graphics/images/cross.png");
                            border: none;
                            opacity: 0.5;
                            background-color: transparent;
                        }
                    }

                    &>.tabulator-col-title {
                        overflow: hidden;
                        margin-right: 5%;
                        flex: 4 0 0;
                    }
                }
            }

            &[aria-sort="none"] .tabulator-arrow {
                background-image: url("../graphics/images/DownArrow.png");
                opacity: 0.5;
            }

            &[aria-sort="desc"] .tabulator-arrow {
                background-image: url("../graphics/images/UpArrow.png");
                opacity: 1;
            }

            &[aria-sort="asc"] .tabulator-arrow {
                background-image: url("../graphics/images/DownArrow.png");
                opacity: 1;
            }

        }
    }
}

.tabulator-tableHolder {
    min-height: 30vw;
    color: #686888;

    &>.tabulator-table {
        width: 95vw;
        height: 100%;
        display: flex;
        font-size: 0.8vw;
        flex-direction: column;

        &>.tabulator-row {
            width: 95vw;
            display: flex;
            height: 4vw;

            &>.tabulator-cell {
                height: 100% !important;
                flex: 1 !important;
                padding-top: 1.5vw;
                text-align: center;

                text-wrap: nowrap;
                overflow: hidden;

                &>.table-col-resize-handle {
                    height: 100%;
                }
            }

            &:hover:not(.row-selected) {
                background-color: rgb(41, 206, 169, 0.13);
            }
        }
    }
}

.tabulator-filter-toggle-button,
.tabulator-edit-toggle-button,
.tabulator-save-toggle-button {
    border: none;
    background-color: transparent;
    background-image: url("../graphics/images/Filter.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 65%;
}

.tabulator-edit-toggle-button {
    background-image: url("../graphics/images/Bin.png");
}

.tabulator-save-toggle-button {
    background-image: url("../graphics/images/Save.png");
}

.tabulator-footer {
    height: 50%;
    min-height: 50px;
    font-size: 1vw;

    & button:not(:disabled):hover {
        transition: all 0.2s ease;
        color: #686888;
        translate: 0 -2px;
    }

    &>.tabulator-paginator {
        display: flex;
        flex-direction: row;
        justify-content: right;
        z-index: 10;
        width: 98.5%;

        &>* {
            margin-right: 0.5%;
            min-width: 2%;
        }

        &>.tabulator-pages>.tabulator-page {
            border: none;
            transition: all 0.2s ease;
            border-radius: 50%;

            &.active {
                translate: 0 -2px;
                background-color: #33cab8;
            }
        }
    }

    & [title="First Page"],
    [title="Prev Page"],
    [title="Next Page"],
    [title="Last Page"] {
        background-color: none;
        border: none;
        text-indent: -9999px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        opacity: 65%;

        &:disabled {
            opacity: 30%;
        }
    }

    & [title="First Page"],
    [title="Prev Page"] {
        transform: rotate(180deg);
    }

    & [title="First Page"],
    [title="Last Page"] {
        background-image: url("../graphics/images/ArrowRightStrong.png");
    }

    & [title="Prev Page"],
    [title="Next Page"] {
        background-image: url("../graphics/images/ArrowRight.png");
    }
}

.tabulator-hiddenColumn-toggle-button {
    border: none;
    background-color: #33cab85b;
    font-weight: bold;
    padding: 0.5vw;
    border-radius: 50px;
    box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.07);
    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

#SuggestSlots,
#conflitsNetwork,
#conflitsHeat {
    display: grid;
    justify-content: center;
}

.styled-button {
    margin: 0.5vw auto;
    width: 25vw;
    margin: 1vw auto;
    border: none;
    background-image: linear-gradient(225deg, #A989ED, #5C6AE3);
    color: whitesmoke;

    padding: 0.5vw;
    border-radius: 50px;
    box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.07);
    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-3px);
    }
}

#ReplacementClass,
#UcClass,
#NetworkDiagram,
#HeatMap {
    width: 100vw;

    &>#UcClassInformation {
        display: flex;
        justify-content: center;
    }

    &>#ReplacementClassCriteria,
    #UcClassCriteria,
    #NetworkDiagramCriteria,
    #HeatMapCriteria,
    .ContainerTimeTable,
    .ContainerCharacteristics {
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;


        border-radius: 15px;

        &>.criteria-container {
            position: relative;
            box-shadow: 0px 9px 15px -1px rgba(170, 131, 196, 0.25);
            background-color: rgb(228, 228, 228);
            border-radius: 15px;
            padding: 2vw !important;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1vw;

            &>.criteria-container-components {
                position: relative;
                margin-bottom: 0.25vw;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;

                &>* {
                    margin: 0 1vw;
                    width: 90%;
                }
            }

            &>button {
                background-color: #33cab8;
                width: 15%;
                border-radius: 15px;
                padding: 0.5vw;
            }

            &+button {
                background-color: pink;
                border-radius: 500px;
                aspect-ratio: 1;
                width: 6%;
                padding: 1vw 0;
                margin-bottom: 2vw;
            }

            &+button,
            >button {
                background-image: linear-gradient(225deg, #A989ED, #5C6AE3);
                font-weight: bolder;
                color: whitesmoke;
                border: none;

            }

            &>label {
                display: flex;
                align-items: center;
                margin-bottom: 0.5vw;

                &>select {
                    margin-left: 0.5vw;
                }
            }
        }

        
    }
    & .styled-button {
        width: 15vw;
    }
}

.criteria-input,
.criteria-filter-option-selector,
.criteria-column-selector,
.criteria-duration-selector,
.styled-input,
.styled-selector {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: 0px 9px 15px -1px rgba(56, 30, 0, 0.07);
    border-radius: 5px;
    padding: 0.75vw;

}

.criteria-remove-button,
.criteria-container-remove-button {
    position: absolute;
    width: 1.5vw !important;
    left: -2.5vw;
    top: 50%;
    transform: translate(0, -50%);
    aspect-ratio: 1;
    border: none;
    border-radius: 500px !important;
    background-color: #F36A6A !important;
    background-image: none !important;
    color: whitesmoke;
    font-weight: bolder;

}

.criteria-container-remove-button {
    top: 0.5vw;
    left: calc(100% - 1vw);
    height: 1.5vw;
    width: 1vw;
    padding: 0.5vw .6vw 1.25vw .6vw !important;
}


div>.tabulator {
    & .tabulator-header {
        color: whitesmoke;
        background-image: linear-gradient(225deg, rgb(169, 137, 237), #5C6AE3);
    }

    & .tabulator-row:hover {
        background-color: rgba(237, 137, 232, 0.13) !important;

    }

    & .tabulator-page.active {
        translate: 0 -2px;
        background-color: rgb(169, 137, 237) !important;
    }
}

#HeatMapSettings {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0px 9px 15px -1px rgba(170, 131, 196, 0.25);
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    padding: 2vw !important;

    &>label {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5vw;
        min-width: 50%;
        justify-content: center;

        &>select {
            width: 50%;
            margin-left: 0.5vw;
        }
    }

    &>div {
        text-align: center;

        &>div {
            margin-top: 1vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            &>label {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }

        & .styled-selector {
            width: 60%;
        }
    }
}


.row-selected{
    background-color: cyan;
    
}

.flex-centered{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.extra-inputs-panel > div{
    width:85%;
    background-color: rgb(228, 228, 228);
    border-radius: 15px;
    padding: 2vw !important;
    box-shadow: 0px 9px 15px -1px rgba(170, 131, 196, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .styled-input{
        width:60%;
        margin: 0vw 1vw;
    }
}