@font-face {
    font-family: 'Karla';
    src: url('../graphics/fonts/Karla-VariableFont_wght.ttf')
}


html{height: 100vh;}
body{
    min-height: 100vh;
    margin:0;
    padding: 0;
    background-color: #E2E2E2;
}

header{
    align-items: center;
    & > img{
        margin: 2% 0 1% 3%;
        height: auto;
        width:20%;
    }
}

#HeroBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    & > img {
        height: auto;
        margin: 25px;
        border-radius: 30px;
        width: 95%;
        box-shadow: 0 4px 13.6px 0 rgba(0,0,0,0.11);
    }
    & > button{
        font-family: Karla;
        font-size: 1.2vw;
        color: rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #E2E2E2;
        border:none;
        border-radius: 500px;
        width: 15%;
        height: auto;
        aspect-ratio: 1;
        box-shadow: 0px 5px 50px -10px rgba(0,0,0,.23);
        transform: translateY(-55%);
        transition: all 0.2s ease;
        cursor: pointer;
        & > img {
            height: auto;
            width: 65%;
        }
        & > span{
            transform: translateY(-80%);
        }
        &:hover{
            transform: translateY(-60%);
        }
    }
}